#root {
  font-family: sans-serif;
  margin: 0;
}
body {
  background-color: black;
}
.separation {
  background-color: gray;
  border: 10px solid darkgray;
  height: 10px;
}
.progress-button {
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 7px 120px 90px darkblue;
  width: 50px;
  height: 50px;
}
.progress-button:focus {
  border: 5px solid lightblue;
}
#progress-bar {
  border: 5px solid olivedrab;
  background-color: lightgreen;
}
h1 {
  font-family: cursive; /* only on later versions of Firefox*/
}
.progress-bar-form {
  width: 379px;
  height: 120px;
  border: 5px solid darkolivegreen;
  background-color: lightgrey;
  color: darkblue;
}
.progress-value {
  padding-left: 5px;
}
button {
  background-color: darkblue;
  color: white;
}
.cancel-button {
  width: 389px;
}
#progress-form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  border-left: 5px solid salmon;
  border-bottom: 5px solid salmon;
  border-top: 5px solid salmon;
  border-radius: 20px 0px 0px 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: olivedrab;
  color: lightblue;
}
.header {
  text-align: center;
  border: 10px solid blue;
  border-radius: 20px;
  background-color: darkblue;
  color: white;
}
#max-progress {
  border: 2px solid brown;
  background-color: lightblue;
}
#max-progress:focus {
  border: 5px dashed red;
  background-color: lightgreen;
}
#enter-button {
  border: 3px solid brown;
}
#enter-button:focus {
  border: 5px solid brown;
}
.arrow {
  padding-left: 210px;
  font-size: 120px;
  color: cyan;
}
.arrow1 {
  float: left;
}
.max-progress-value {
  border: 5px solid red;
  color: darkred;
}
.max-progress-value:hover {
  border: 5px solid darkred;
}
.review,
.thanks {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  border-left: 5px solid salmon;
  border-top: 5px solid salmon;
  border-bottom: 5px solid salmon;
  border-radius: 20px 0px 0px 20px;
  padding-left: 20px;
  color: darkcyan;
  background-color: lightblue;
}
.review {
  padding-top: 10px;
  padding-bottom: 15px;
}
#new-review {
  width: 280px;
}
.add-review {
  width: 284px;
}
