#root {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.separation {
  background-color: gray;
  border: 10px solid darkgray;
  height: 10px;
}
.progress-button {
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 7px 120px 90px darkblue;
  width: 50px;
  height: 50px;
}
.progress-button:focus {
  border: 5px solid lightblue;
}
#progress-bar {
  border: 5px solid olivedrab;
  background-color: lightgreen;
}
.wide {
  width: 250px;
}
#react-h1 {
  font-family: sans-serif;
  border: 12px solid skyblue;
  background-color: teal;
  color: pink;
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.progress-bar-form {
  width: 379px;
  height: 120px;
  border: 5px solid darkolivegreen;
  background-color: lightgrey;
  color: darkblue;
}
#popup {
  display: none;
  background-color: lightblue;
  padding: 10px;
  color: black;
  border: 10px ridge darkblue;
}
#max-progress-2 {
  margin-top: 3px;
}
.progress-value {
  padding-left: 5px;
}
.normal-button {
  background-color: darkblue;
  color: white;
}
.cancel-button {
  width: 389px;
  margin: 0px 0px 0px 0px;
  background-color: blue;
  color: white;
  border: 0px solid;
  border-bottom: 2px solid darkblue;
}
.border-div {
  width: 384px;
  float: left;
}
.change-settings {
  height: 151px;
  border: 5px solid darkolivegreen;
}
#progress-form,
#review,
#thanks {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  border-left: 5px solid salmon;
  border-bottom: 5px solid salmon;
  border-top: 5px solid salmon;
  border-radius: 20px 0px 0px 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: gray;
  color: white;
  transition: ease-in-out 750ms;
}

b {
  color: darkred;
}
#review {
  color: darkcyan;
}
#thanks {
  color: lightgreen;
}
#review:hover,
#thanks:hover {
  color: darkcyan;
  background-color: lightblue;
  margin-left: 20px;
}

#progress-form:hover {
  background-color: olivedrab;
  margin-left: 20px;
  padding-left: 120px;
}

#header {
  margin-top: 120px;
  text-align: center;
  border-top: 0;
  border-radius: 20px;
  border: 10px ridge darkblue;
  background-color: blue;
  color: white;
  position: fixed;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 0;
  margin-right: 8px;
  max-height: 0%;
  overflow: hidden;
  transition: all ease-in-out 1250ms;
  width: 100vw;
}
.position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.position:hover + #header {
  max-height: 100%;
  height: auto;
}

.container {
  background-color: lightgreen;
  outline: 15px ridge darkred;
  height: 107px;
  padding: 5px;
  padding-left: 15px;
  margin-left: 8px;
  margin-top: 15px;
  margin-right: 24px;
  border: 4px solid lightgreen;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: #444;
  padding: 43px 16px 14px 16px;
  margin-left: 24px;
  text-decoration: none;
  border-top: 5px solid lightgreen;
  transition: all ease-in-out 750ms;
}
li a:hover {
  color: black;
  border-top: 5px solid black;
}
#navbar-h1 {
  float: left;
  font-size: 37px;
}

#max-progress {
  border: 2px solid brown;
  background-color: lightblue;
}
#max-progress:focus {
  border: 5px dashed red;
  background-color: lightgreen;
}
#enter-button {
  background-color: darkblue;
  color: white;
  border: 3px solid brown;
}
#enter-button:focus {
  border: 5px solid brown;
}

.max-progress-value {
  border: 5px solid red;
  color: darkred;
}
.max-progress-value:hover {
  border: 5px solid darkred;
}
#new-review {
  width: 280px;
  height: 210px;
  font-family: sans-serif;
  font-size: 15px;
  border: 5px solid blue;
  resize: none;
  border-radius: 0px 50px 0px 0px;
}
#new-review:focus {
  border: 5px solid darkblue;
}
.add-review {
  width: 291px;
  height: 121px;
  border-radius: 0px 0px 20px 20px;
}
.bye,
.review-text {
  background-color: lightgreen;
  border: 5px solid darkblue;
  outline: 10px solid lightgreen;
  color: darkcyan;
  padding: 15px;
  margin-left: 20px;
}
.review-text {
  border-radius: 20px 0px 0px 20px;
  border: 12px solid darkred;
}
.review-text-2 {
  background-color: darkblue;
  padding: 15px;
  color: lightblue;
  border-radius: 0px 20px 20px 0px;
  border: 12px solid darkcyan;
  outline: 10px solid lightgreen;
}
.reviews {
  border-left: 5px solid blue;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
.reviews-border {
  padding-top: 10px;
}
.percentage-bar {
  color: green;
  font-weight: bold;
}
