#root {
	font-family: sans-serif;
}
.progress-button {
	border-radius: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	box-shadow: 7px 120px 90px darkblue;
	width: 50px;
	height: 50px;
}
.progress-button:focus {
	border: 5px solid lightblue;
}
#progress-bar {
	border: 5px solid green;
}
h1 {
	font-family: cursive; /* only on later versions of Firefox*/
}
.progress-bar-form {
	width: 379px;
	height: 120px;
	border: 5px solid salmon;
}
.progress-value {
	padding-left: 5px;
}
button {
	background-color: darkblue;
	color: white;
}
.cancel-button {
	width: 389px;
}
#progress-form {
	padding-left: 120px;
}
.header {
	text-align: center;
	border: 10px solid blue;
	border-radius: 20px;
	background-color: darkblue;
	color: white;
}
#max-progress {
	border: 1px solid brown;
}
#max-progress:focus {
	border: 5px dashed red;
}
#enter-button {
	border: 2px solid brown;
}
#enter-button:focus {
	border: 5px solid brown;
}
